In [1]:
from sklearn.datasets import load_diabetes

In [2]:
import sumnplot as sp
from sumnplot.discretisation import EqualWidthDiscretiser
from sumnplot.summary import DataFrameValueCounter

In [3]:
sp.__version__

'0.3.0'

# Load data
Add a categorical version of `bmi` onto the dataset.

In [4]:
X, y = load_diabetes(return_X_y=True, as_frame=True)

In [5]:
X["bmi_bucketed"] = EqualWidthDiscretiser(variable="bmi").fit_transform(X)

In [6]:
X.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,bmi_bucketed
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,"(0.0401, 0.0662]"
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,"(-0.0642, -0.0381]"
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,"(0.0401, 0.0662]"
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,"(-0.012, 0.0141]"
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,"(-0.0381, -0.012]"

# Summarise values in DataFrame

In [7]:
df_summariser = DataFrameValueCounter(
    columns=["age", "sex", "bmi_bucketed", "bp"], max_values=20, summary_values=5
)

In [8]:
df_summariser.summarise(X)

,age_value,age_count,sex_value,sex_count,bmi_bucketed_value,bmi_bucketed_count,bp_value,bp_count
0,-0.107226,3,-0.044642,235,"(-0.0913, -0.0642]",32,-0.112400,1
1,-0.103593,3,0.050680,207,"(-0.0642, -0.0381]",66,-0.108957,1
2,-0.099961,2,NaN,None,"(-0.0381, -0.012]",98,-0.102071,1
3,-0.096328,4,NaN,None,"(-0.012, 0.0141]",90,-0.100923,1
4,-0.092695,4,NaN,None,"(0.0141, 0.0401]",64,-0.098628,1
5,NaN,None,NaN,None,"(0.0401, 0.0662]",50,NaN,None
6,-0.009147,11,NaN,None,"(0.0662, 0.0923]",23,-0.002228,9
7,-0.005515,12,NaN,None,"(0.0923, 0.118]",12,-0.001080,1
8,-0.001882,14,NaN,None,"(0.118, 0.144]",5,0.000068,2
9,0.001751,12,NaN,None,"(0.144, 0.171]",2,0.001215,8
10,0.005383,13,NaN,None,Null,0,0.002363,1
11,0.009016,16,NaN,None,None,None,0.004658,5
12,NaN,None,NaN,None,None,None,NaN,None
13,0.085299,1,NaN,None,None,None,0.101058,1
14,0.088931,1,NaN,None,None,None,0.104501,2
15,0.092564,1,NaN,None,None,None,0.107944,3
16,0.096197,2,NaN,None,None,None,0.125158,1
17,0.110727,2,NaN,None,None,None,0.132044,1
18,NaN,None,NaN,None,None,None,NaN,None
19,NaN,None,NaN,None,None,None,NaN,None
20,NaN,None,NaN,NaN,NaN,NaN,NaN,None